<footer class="bg-dark text-dark pt-3 pb-4">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="left-links">
      <a href="/" class ="me-4" >Browse Jobs</a>
      <a href="/" class ="me-4" >Browse companies</a>
      <a href="/" class ="me-4" >Countries</a>
      <a href="/" class ="me-4" >About</a>
      <a href="/" class ="me-4" >Help</a>
    </div>
    <div class="right-links">
      <a href="/" class ="me-4" >© 2025 Job Portal</a>
      <a href="{% url 'subscription-plans' %}" class ="me-4" >Subscription Plans</a>
      <a href="/" class ="me-4" >Terms</a>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
  AOS.init();
</script>